.menu-a {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s linear;
}

.menu-a:hover {
  color: #ccc;
  text-decoration: none;
}
