.drag {
  color: white;
  text-align: center;
  margin-bottom: 25rem;
}
#projects {
  margin-top: 20rem;
  margin-bottom: 30rem;
}


@media screen and (max-width: 640px){
  #projects{
    margin-bottom: 60rem;
  }
}