.education-container {
  position: relative;
  margin: 15rem 0;
  .hse-card {
    background: url(../../images/royals.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 19rem;
    height: 25rem;
    border-radius: 10px;
    position: absolute;
  }

  .card-front:hover .hse-card,
  .card-front:hover .iu-card,
  .card-front:hover .udemy-card,
  .card-front:hover .linkedin-card {
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease;
  }
  .iu-card {
    background: url(../../images/hoosiers.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: 12rem;
    background-position: center;
    width: 19rem;
    height: 25rem;
    border-radius: 10px;
    position: absolute;
  }
  .udemy-card {
    background: url(../../images/udem.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-size: 16rem;
    width: 19rem;
    height: 25rem;
    border-radius: 10px;
    position: absolute;
  }
  .linkedin-card {
    background: url(../../images/link.png);
    background-repeat: no-repeat;
    background-size: 15rem;
    background-color: white;
    background-position: center;
    width: 19rem;
    height: 25rem;
    border-radius: 10px;
    position: absolute;
  }

  .card-flip {
    background-color: transparent;
    position: relative;
    width: 19rem;
    height: 25rem;
    perspective: 1000px;
    border-radius: 10px;
    margin: 20px;
    border-radius: 10px;
  }
  .card-flip-inner {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    transition-delay: 0.6s;
    border-radius: 10px;
  }
  // .card-flip:hover .card-flip-inner {
  //   transform: rotateY(180deg);
  // }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .card-back {
    transform: rotateY(180deg);
    background: #fff;
    color: black;
    border-radius: 10px;
  }
  ul {
    list-style-type: square;
  }
}
