.education-container {
  position: relative;
  .hse-card {
    background: url(../../images/hse_logo.png);
    background-repeat: no-repeat;
    background-size: 50rem;
    background-position: center;
    max-width: 19rem;
    margin: 20px;
    border-radius: 10px;
  }
  .iu-card {
    background: url(../../images/iu_logo.png);
    background-repeat: no-repeat;
    background-size: 38rem;
    background-position: center;
    max-width: 19rem;
    margin: 20px;
    border-radius: 10px;
  }
  .udemy-card {
    background: url(../../images/udemy_logo.png);
    background-repeat: no-repeat;
    background-size: 38rem;
    background-position: center;
    max-width: 19rem;
    margin: 20px;
    border-radius: 10px;
  }
  .linkedin-card {
    background: url(../../images/linkedin_logo.png);
    background-repeat: no-repeat;
    background-size: 38rem;
    background-position: center;
    max-width: 19rem;
    margin: 20px;
    border-radius: 10px;
  }
}
