.downArrow {
  position: absolute;
  bottom: 0;
  width: 5vh;

  @-moz-keyframes bounceDown {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounceDown {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounceDown {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  -moz-animation: bounceDown 3s infinite;
  -webkit-animation: bounceDown 3s infinite;
  animation: bounceDown 3s infinite;
}

.rightArrow {
  position: absolute;
  right: 15%;
  width: 5vh;
  img {
    transform: rotate(-90deg);
  }

  @-moz-keyframes bounceRight {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateX(0);
      transform: translateX(0);
    }
    40% {
      -moz-transform: translateX(-30px);
      transform: translateX(-30px);
    }
    60% {
      -moz-transform: translateX(-15px);
      transform: translateX(-15px);
    }
  }
  @-webkit-keyframes bounceRight {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    40% {
      -webkit-transform: translateX(-30px);
      transform: translateX(-30px);
    }
    60% {
      -webkit-transform: translateX(-15px);
      transform: translateX(-15px);
    }
  }
  @keyframes bounceRight {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    40% {
      -moz-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
      -webkit-transform: translateX(-30px);
      transform: translateX(-30px);
    }
    60% {
      -moz-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
      -webkit-transform: translateX(-15px);
      transform: translateX(-15px);
    }
  }

  -moz-animation: bounceRight 3s infinite;
  -webkit-animation: bounceRight 3s infinite;
  animation: bounceRight 3s infinite;
}

.leftArrow {
  position: absolute;
  left: 15%;
  width: 5vh;
  img {
    transform: rotate(90deg);
  }

  @-moz-keyframes bounceLeft {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateX(0);
      transform: translateX(0);
    }
    40% {
      -moz-transform: translateX(30px);
      transform: translateX(30px);
    }
    60% {
      -moz-transform: translateX(15px);
      transform: translateX(15px);
    }
  }
  @-webkit-keyframes bounceLeft {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    40% {
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
    }
    60% {
      -webkit-transform: translateX(15px);
      transform: translateX(15px);
    }
  }
  @keyframes bounceLeft {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    40% {
      -moz-transform: translateX(30px);
      -ms-transform: translateX(30px);
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
    }
    60% {
      -moz-transform: translateX(15px);
      -ms-transform: translateX(15px);
      -webkit-transform: translateX(15px);
      transform: translateX(15px);
    }
  }

  -moz-animation: bounceLeft 3s infinite;
  -webkit-animation: bounceLeft 3s infinite;
  animation: bounceLeft 3s infinite;
}
