@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.aboutmain{
    height:100vh;
}

#abouttype{
    color: white;
    font-size:3vh;
}

img{
    border-radius: 50%;
    width:17vh;
    margin-bottom: 3%;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;

}

h1{
    color: white;
    margin-bottom: 5%;
    opacity: 0;
    animation: fadeIn 2s 0.5s;
    -webkit-animation: fadeIn 2s 0.5s;
    -moz-animation: fadeIn 2s 0.5s;
    -o-animation: fadeIn 2s 0.5s;
    -ms-animation: fadeIn 2s 0.5s;
    -webkit-animation-fill-mode: forwards;
}
