@import url('https://fonts.googleapis.com/css?family=Roboto');


.nav{
    position: fixed;
    z-index: 100;
    opacity:0;
    height:100%;
}


.card{
    margin: 0%;
    height:100vh;
    width:18%;
    background-color: gray;
    display:flex;
    align-items: center;
    position: absolute;
   
    
}

.icon{
    margin-bottom:15%;
    color: white;
}

ul li{
    
    padding:15%;
    transition: 1s all;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    list-style: none;
    display:inline-grid;
    position: relative;
}

a{
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    transition: 0.2s ease color;
}

a:before a:after{
    content: "";
    border-radius: 50%;
    transform: scale(0);
    transition: 1s ease transform;
}

a:hover{
    transition: 1s ease transform;
    color: #db0f2c;
}

