.button {
  z-index: 10;
  font-size: 4rem;
  float: left;
  padding: 0.28em;
  cursor: pointer;
  position: absolute;
}
.navbar-ul {
  list-style: none;
  position: relative;

  .navbar-li {
    position: relative;
    margin: 2.8rem 0;
    .navbar-a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none !important;
      letter-spacing: 0.4em;
      color: rgba(#fff, 0.35);
      display: block;
      transition: all ease-out 300ms;
    }

    &.active a {
      color: white;
      text-decoration: none;
    }

    &:not(.active)::after {
      opacity: 0.2;
    }

    &:not(.active):hover a {
      color: rgba(#fff, 0.75);
    }

    &::after {
      content: '';
      position: absolute;
      width: 12rem;
      height: 0.3rem;
      background: black;
      top: 4.5rem;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #5e42a6, #b74e91);
    }
  }
}
