$highlight: white;
.project-main {
  height: 130vh;
  * {
    box-sizing: border-box;
  }
}
.card-container {
  width: 30%;

  .project-card {
    font-weight: bold;
    position: relative;
    padding: 30px;
    width: 20vw;
    height: 400px;
    border: 2px solid #333333;
    background: black;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease;
    z-index: 5;

    .card-display {
      i {
        font-size: 60px;
      }

      h2 {
        margin: 20px 0 0;
        color: white;
      }
    }
  }
}
