.skillsmain{
  height: 70vh;
}

.badge {
  padding: 1.2vw;
	border-radius: 20%;
	transition: all 0.2s ease;
  box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
  cursor: pointer;
}

.rounded {
  width: 5.5vw;
	height: 5vh;
  background: white;
  z-index: 10;
	border-radius: 30%;
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);

  i.fab {
    font-size: 3.5vw;
		margin-top: 0.5rem;
  }
}

.black{
  color:black;
  background:#333333;
}