.aboutmain {
  padding: 13rem 0;
}

#welcometype {
  color: rgb(64, 0, 126);
  font-weight: bold;
  font-size: 1.3rem;
  width: 250px;
  display: inline-block;
}

.self {
  border-radius: 50%;
  max-width: 10rem;
  margin-bottom: 3rem;
}

.welcome-h1 {
  color: white;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.downArrow {
  max-width: 2.5rem;
  margin: auto;
  -moz-animation: bounceDown 3s infinite;
  -webkit-animation: bounceDown 3s infinite;
  animation: bounceDown 3s infinite;
}

.circle1 {
  width: 100px;
  height: 200px;
  border-radius: 150px 0 0 150px;
  background: rgba(90, 24, 154, 1);
  position: absolute;
  right: 0px;
}
.circle3 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: rgba(90, 24, 154, 1);
  position: absolute;
  top: -200px;
  left: 200px;
}
.circle2 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: rgb(64, 0, 126);
  position: absolute;
  top: -100px;
  left: -50px;
}
.circle4 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgb(64, 0, 126);
  position: absolute;
  top: -150px;
  right: 100px;
}
.circle5 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(123, 44, 191, 1);
  position: absolute;
  top: 200px;
  right: 100px;
}
.circle6 {
  width: 200px;
  height: 400px;
  border-radius: 300px 0 0 300px;
  background: rgba(123, 44, 191, 1);
  position: absolute;
  top: 300px;
  right: 0px;
}
.circle7 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(64, 0, 126);
  position: absolute;
  top: 300px;
  right: 50px;
}
.circle8 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(90, 24, 154, 1);
  position: absolute;
  top: 300px;
}

@-moz-keyframes bounceDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounceDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounceDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@media only screen and (min-width: 40rem) {
  .welcome-h1 {
    font-size: 2.5rem;
  }
}
