.skillsmain {
  height: 70vh;
}

.badge {
  padding: 6rem;
  border-radius: 20%;
  transition: all 0.2s ease;
  box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
  cursor: pointer;
}

.rounded {
  width: 6vw;
  height: 6vh;
  background: white;
  z-index: 10;
  border-radius: 30%;
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);

  i.fab {
    font-size: 3.5vw;
    margin: 0.7rem auto;
  }
}

.black {
  color: black;
  background: #333333;
}

@media only screen and (min-width: 40rem) {
  .rounded {
    height: 10vh;
    width: 10vw;
  }
  .badge {
    padding: 3rem;
  }
}
