#skills {
  margin: 15rem 0;
}
.badge {
  border-radius: 20%;
  transition: all 0.2s ease;
  box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
  cursor: pointer;
}

.rounded {
  padding: 0.2rem;
  margin: 0.3rem;
  background: white;
  z-index: 10;
  border-radius: 30%;
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
}

.black {
  color: black;
  background: #333333;
}

@media screen and (max-width: 640px) {

  .skillsblock {
    margin: auto !important;
  }
}
@media screen and (min-width: 40rem) {
  .skillsblock {
    max-width: 25%;
  }
}
