.skillsmain {
  height: 70vh;
}
.skillsblock{
  width: 45vw;
}

.badge {
  border-radius: 20%;
  transition: all 0.2s ease;
  box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
  cursor: pointer;
}

.rounded {
  width: 8vw;
  height: 4vh;
  margin: 0.3rem;
  background: white;
  z-index: 10;
  border-radius: 30%;
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
}
#icon {
  margin: auto;
  padding: 0.25rem;
}

.black {
  color: black;
  background: #333333;
}

@media only screen and (min-width: 40rem) {
  .rounded {
    height: 8.5vh;
    width: 5vw;
  }
  #icon{
    margin-top: 0.4rem;
  }
}
