.contact-main {
  .contact-container {
    position: relative;
    .contact-card {
      position: relative;
      width: 20rem;
      height: 15rem;
      margin: 15px;
      overflow: hidden;
      border-radius: 10px;
      box-sizing: border-box;
      background: #333333;
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.7s;
        z-index: 1;
        background: black;
        .contact-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 80px;
          transition: 0.7s;
          color: #fff;
        }
      }
      &:hover {
        .icon {
          top: 20px;
          left: calc(50% - 40px);
          width: 80px;
          height: 80px;
          border-radius: 50%;
          .contact-icon {
            font-size: 40px;
          }
        }
        .contact-content {
          top: 100px;
          opacity: 1;
        }
      }
      .contact-content {
        position: absolute;
        top: 100px;
        height: calc(100% - 100px);
        text-align: center;
        padding: 20px;
        transition: 0.7s;
        opacity: 0;
        h3 {
          margin: 0 0 10px 0;
          padding: 0;
          color: #fff;
          font-size: 24px;
        }
        p {
          font-size: 1.2rem;
          margin: 0;
          padding: 0;
          color: #fff;
        }
      }
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
