body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: hidden; /* IE and Edge */
  scrollbar-width: none;

  background: rgb(64, 0, 126);
  background: linear-gradient(
    0deg,
    rgb(64, 0, 126) 0%,
    rgba(90, 24, 154, 1) 25%,
    rgba(123, 44, 191, 1) 50%,
    rgb(157, 78, 221) 75%
  );
}

body::-webkit-scrollbar {
  display: none;
}
