hr {
  width: 100%;
  background-color: white;
  margin: auto;
}

#card {
  max-width: 90vw;
  min-width: 357px;
  min-height: 487px;
  overflow: hidden;
  font-size: 1.3rem;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box1 {
  color: white;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.box2 {
  color: white;
  margin: auto;
  width: 80%;
}

.box3 {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.box4 {
  padding: 2rem;
}

.oct {
  margin-right: 4px;
  border-radius: 50%;
}

li {
  display: inline;
}

.name {
  align-items: center;
  display: inline-flex;
  flex-wrap: nowrap;
}

.langs {
  display: flex;
  align-items: center;
}
.langs-icons {
  display: flex;
}

.progress {
  display: flex;
  height: 8px;
  overflow: hidden;
  border-radius: 6px;
  outline: 1px solid transparent;
}

.progress-item {
  outline: 2px solid transparent;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.inline {
  display: inline;
  margin: 0.6rem;
  word-wrap: nowrap;
}
@media (min-width: 40rem) {
  #card {
    max-width: 35rem;
    height: 57vh;
  }
}
