.container {
  margin: 15rem 0;
}
.main-timeline {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .timeline {
    margin-bottom: 40px;
    position: relative;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &:hover {
      .icon {
        &:before {
          left: 3px;
        }
        &:after {
          left: -3px;
        }
      }
      .date-outer {
        &:before {
          left: 6px;
        }
        &:after {
          left: -6px;
        }
      }
    }
    &:nth-child(2n) {
      .date-content {
        float: right;
        &:before {
          left: 10px;
        }
      }
      .timeline-content {
        padding: 20px 50px 20px 0;
        text-align: right;
      }
    }
  }
  .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.33s ease-out 0s;
      background: #fff;
      border: 2px solid #333333;
      left: -3px;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.33s ease-out 0s;
      border: 2px solid #333333;
      left: 3px;
    }
  }
  .date-img {
    border-radius: 50%;
    margin-left: 0.7rem;
  }
  .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative;
    &:before {
      content: '';
      width: 36.5%;
      height: 2px;
      background: #333333;
      margin: auto 0;
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
    }
  }
  .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    margin: auto;
    &:before {
      content: '';
      width: 125px;
      height: 125px;
      margin: 0 auto;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      transition: all 0.33s ease-out 0s;
      border: 2px solid #232323;
      left: -6px;
    }
    &:after {
      content: '';
      width: 125px;
      height: 125px;
      margin: 0 auto;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: all 0.33s ease-out 0s;
      border: 2px solid #c6c6c6;
      left: 6px;
    }
  }
  .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 14px;
  }
  .month {
    font-size: 18px;
    font-weight: 700;
  }
  .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px;
  }
  .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right;
  }
  .title {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0;
    color: rgb(157, 78, 221);
  }
  .company {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0;
    text-align: center;
  }
  .time {
    color: rgb(157, 78, 221);
    text-align: center;
    font-weight: 600;
  }
  .description {
    margin-bottom: 0;
    color: white;
  }
}
@media only screen and (max-width: 991px) {
  .main-timeline {
    .date-content {
      margin-top: 35px;
      &:before {
        width: 22.5%;
      }
    }
    .timeline-content {
      padding: 10px 0 10px 30px;
    }
    .title {
      font-size: 17px;
    }
    .timeline {
      &:nth-child(2n) {
        .timeline-content {
          padding: 10px 30px 10px 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline {
    &:before {
      margin: 0;
      left: 7px;
    }
    .timeline {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(2n) {
        .timeline-content {
          width: 95%;
          text-align: center;
          padding: 10px 0;
        }
      }
    }
    .icon {
      margin: auto 0;
    }
    .date-content {
      width: 95%;
      float: right;
      margin-top: 0;
      &:before {
        display: none;
      }
    }
    .date-outer {
      width: 110px;
      height: 110px;
      &:before {
        width: 110px;
        height: 110px;
      }
      &:after {
        width: 110px;
        height: 110px;
      }
    }
    .date-img{
      width: 85px;
      height: 85px;
    }
    .year {
      font-size: 24px;
    }
    .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0;
    }
    .title {
      margin-bottom: 10px;
    }
  }
}
