.hover {
  transform: scale(1);
  transition: all 0.5s ease;
  display: inline-block;
}
/* .hover:hover {
  color: #fff;
  box-shadow: 0 0 5px #fff;
  text-shadow: 0 0 5px #fff;
}

.hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
} */

.hover:hover {
  transform: scale(1.08);
  /* box-shadow: 0 0 15px #fff; */
}
