.aboutme-main {
  margin: 15rem 0;
}

.about-h2 {
  color: white;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 60%;
  color: white;
}

.box {
  border-radius: 5px;
  padding: 2rem;
  font-size: 120%;
  width: 60vw;
}

.a {
  grid-column: 1;
  grid-row: 1;
  background: rgb(64, 0, 126);
}
.b {
  grid-column: 1;
  grid-row: 2;
  background: rgb(90, 24, 154);
}
.c {
  grid-column: 1;
  grid-row: 3;
  background: rgb(118, 29, 195);
}
.d {
  grid-column: 1;
  grid-row: 4;
  background: rgb(140, 51, 212);
}

@media screen and (min-width: 56.25rem) and (max-width: 75rem) {
 .a {
    grid-column: 1 / 3;
    grid-row: 1;
  }
.b {
    grid-column: 1/3;
    grid-row: 3;
  }
  .c {
    grid-column: 1;
    grid-row: 2;
  }
  .d {
    grid-column: 2;
    grid-row: 2;
  }
  .box {
    font-size: 150%;
    max-width: 100%;
  }
  .wrapper {
    grid-template-columns: 25vw 25vw;
  }
}
@media screen and (min-width: 75rem) {
  .a {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .b {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  .c {
    grid-column: 1;
    grid-row: 2;
  }
  .d {
    grid-column: 2;
    grid-row: 2;
  }
  .box {
    font-size: 150%;
    max-width: 100%;
  }
  .wrapper {
    grid-template-columns: 25vw 25vw 20vw;
  }
}
